<div class="main">

  <div class="content-wrapper">

    <p class="intro">Full website coming soon</p>

    <p>Higham Hill Hub is a Community-Interest-Company based within Higham Hill Park whose social purpose is to facilitate, host and deliver a diverse range of activities &amp; seasonal events for all generations of the community. </p>

    <p>Higham Hill Hub’s facilities include a hall, small kitchen, toilets (including disabled toilet), small office and a meeting room. The 6m x 12m hall includes a sprung dance and mirrors and a cosy corner with beanbags and children’s bookshelf.</p>

    <p>The building is wheelchair accessible and we also have a large, private lawn.</p>

    <p>The Hub is affordable to hire for everything from classes, to meetings to birthday parties.</p>

    <h2>Contact us</h2>

    <p>If you’re a group or individual interested in getting involved, want to join our email list or you have an idea for something you’d like to do at the Hub, please get in touch!</p>

    <p class="contact-cta">Email us at <a href="mailto:info@highamhillhub.org.uk">info@highamhillhub.org.uk</a></p>

    <div class="address">

      <p><strong>Higham Hill Hub CIC</strong><br />
      Higham Hill Park<br />
      Hecham Close<br />
      Walthamstow<br />
      E17 5QT</p>

      <div class="social"><i class="fa fa-map-marker"></i> <a href="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode&sll=51.528642,-0.101599&sspn=0.539098,1.192017&vpsrc=6&ie=UTF8&hnear&ll=51.597574,-0.036392&spn=0.016821,0.037251&t=m&z=15&iwloc=A&cid=9594447342267118728&output=classic&dg=oo">View on Google Map</a></div>
      <div class="social"><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/highamhillhub">Follow us on Facebook</a></div>
      <div class="social last"><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/highamhillhub">Follow us on Twitter</a></div>

    </div>

    <div class="disclaimer">
      <p>Higham Hill Hub CIC is brought to you by <a href="http://woodcraft.org.uk/">Waltham Forest Woodcraft Folk</a>, <a href="http://pinpointinc.org/">PinPoint Inc</a>, COG, <a href="https://www.leaderscommunity.org/">LEADERS Academy</a>, <a href="https://e17homemade.wordpress.com/about-2/">Homemade Community Café</a> and <a href="http://www.thelloydparkcentre.co.uk/">The Lloyd Park Centre</a>, and supported by <a href="http://www.walthamforest.gov.uk/">Waltham Forest Council</a>.</p>

      <div class="logos">
        <p>
          <a href="http://woodcraft.org.uk/"><img src="images/Woodcraft-Folk-logo.jpg" width="81" height="120" /></a>
          <a href="#"><img src="images/cog_logo.jpg" width="129" height="84" /></a>
          <a href="http://pinpointinc.org/"><img src="images/PinPointLogo.png" width="230" height="44" /></a>
          <a href="http://www.thelloydparkcentre.co.uk/"><img src="images/LloydParkLogo.png" width="199" height="80" /></a>
          <a href="https://www.leaderscommunity.org/"><img src="images/leaders_logo.jpg" width="99" height="108" /></a>
          <a href="https://e17homemade.wordpress.com/about-2/"><img src="images/homemade_logo.jpg" width="111" height="120" /></a>
        </p>
        <p>Supported by:
          <a href="http://www.walthamforest.gov.uk/"><img src="images/WF_LOGO.gif" width="167" height="120" /></a>
        </p>
      </div>

    </div>

  </div>

</div>