<div class="main">

  <div class="content-wrapper">

    <p class="intro">Full website coming soon</p>

    <p>Higham Hill Hub is in the former bowls club in Higham Hill Park. Our facilities include a hall, small kitchen, toilets (including disabled toilet) and a meeting room. The 6m x 12m hall includes a sprung floor (6m x 7m, this area will be mirrored soon) and a cosy corner with beanbags and children’s bookshelf.</p>

    <p>The building is wheelchair accessible and there is also a large, private lawn.</p>

    <p>The Hub is affordable to hire for everything from classes to meetings to birthday parties.</p>

    <h2>Contact us</h2>

    <p>If you’re a group or individual interested in getting involved, want to join our email list or you have an idea for something you’d like to do at the Hub, please get in touch!</p>

    <p class="contact-cta">Email us at <a href="mailto:info@highamhillhub.org.uk">info@highamhillhub.org.uk</a></p>

    <div class="address">

      <p><strong>Higham Hill Hub</strong><br />
      Higham Hill Park<br />
      Hecham Close<br />
      Walthamstow<br />
      E17 5QT</p>

      <div class="social first"><i class="fa fa-map-marker"></i> <a href="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode&sll=51.528642,-0.101599&sspn=0.539098,1.192017&vpsrc=6&ie=UTF8&hnear&ll=51.597574,-0.036392&spn=0.016821,0.037251&t=m&z=15&iwloc=A&cid=9594447342267118728&output=classic&dg=oo">View on Google Map</a></div>
      <div class="social"><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/highamhillhub">Follow us on Facebook</a></div>

    </div>

    <div class="disclaimer">
      <p>Higham Hill Hub is being set up by <a href="http://woodcraft.org.uk/">Waltham Forest Woodcraft Folk</a> and <a href="http://www.knifoundation.org/">KNI Foundation</a>, and supported by <a href="http://www.walthamforest.gov.uk/">Waltham Forest Council</a>. We are looking for other organisations to join us. We aim to serve all the community.</p>

      <div class="logos">
        <a href="http://woodcraft.org.uk/"><img src="images/Woodcraft-Folk-logo.jpg" width="81" height="120" /></a>
        <a href="http://www.knifoundation.org/"><img src="images/KNI-LOGO-NEW.jpg" width="116" height="120" /></a>
        <a href="http://www.walthamforest.gov.uk/"><img src="images/WF_LOGO.gif" width="167" height="120" /></a>
      </div>

    </div>

  </div>

</div>